.content-wrapper {
    .content {
        .captured-output {
            overflow: hidden;
            opacity: .5;

            .camera-icon {
                font-size: 60px;
            }

            &:hover {
                opacity: 1;
            }

            img {
                width: 100%;
                height: 100%;
            }

            &.captured {
                opacity: 1;
            }

            .captured-div {
                position: relative;
            }


        }
    }
}