.crop-image-wrapper {
    background-color: rgb(40, 40, 43);

    .icon {
        font-size: 50px;
    }

    .close-icon-desk {
        position: absolute;
        top: 48px;
        right: 48px;
        z-index: 999999;
    }

    .close-icon-mob {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999999;
    }
}