@import "variables";

.custom-button {
    padding: .5rem 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .next-icon {
        margin-left: 6px;
        font-size: 18px;
    }

    &.primary {
        background-color: $primary;
    }

    &.secondary {
        background-color: $secondary;
    }

    &.gray {
        background-color: map-get($gray, 700);
    }
}