.output-wrapper {
    // .captured-output {
    //     border-radius: 15px;
    //     overflow: hidden;
    // }

    .nav-image {
        div {
            width: 100%;
            height: 170px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}