.output-wrapper {

    .nav-image {
        div {
            img {
                object-fit: contain;
            }
        }
    }

    .dot-indication {
        div {
            width: 20px;
            height: 20px;
            background-color: #567CF0;
            opacity: .5;
            border-radius: 50px;

            &:not(:last-child) {
                margin-right: 8px;
            }

            &.selected {
                width: 40px;
                opacity: 1;
            }

        }
    }
}