.pager-wrapper {
    position: relative;

    .checkpoint {
        &:not(:first-child) {
            &::before {
                content: "";
                position: absolute;
                top: 46%;
                right: 50%;
                background-color: #f3f3f3;
                width: 35%;
                height: 10px;
                z-index: -1;
            }

            &:last-child::before {
                right: 15%;
            }
        }

        &.selected {
            &::before {
                background-color: #567CF0;
            }
        }
    }
}