$primary: #06408d;
$secondary: #9C27B0;
$tertiary: #1e293b;
// $tertiary: #173340;
$colors: (
  "gray": (
    50: #fbfbfc,
    100: #f6f8f8,
    200: #f2f4f5,
    300: #d4dadd,
    400: #c7cdd1,
    500: #778790,
    600: #5e717b,
    700: #2e4753,
    800: #173340,
    900: #00202e,
  ),
) !default;

$gray: map-get($colors, "gray");
$background: #032b63;